@import "../../../../styles/mixins.scss";

.component {
  display: flex;
  width: 100%;
  gap: 15px;
}

.item {
  flex: 0 0 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--color-font-primary);
  box-shadow: 0 0 3px gray;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0 0 3px var(--color-accent);
  }

  svg {
    display: none;
    color: #fff;
  }
  &.isChecked {
    svg {
      display: block;
    }
  }
}
