.modal {
  & > div {
    width: 100%;
    max-width: 600px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}

.title {
  margin-bottom: 25px;
  color: var(--color-accent);
}

.form {
  display: flex;
  gap: 25px;
  flex-direction: column;
  flex-grow: 1;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btnContainer {
    justify-content: space-between;
    flex-grow: 1;
    padding: 30px 0;
    gap: 25px;
  }

  .linkCont {
    font-size: 15px;
    display: flex;
    gap: 25px;

    & > div:last-child {
      color: var(--color-accent);
      font-weight: 600;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.closeBtn {
  width: 30px;
  height: 30px;
  color: var(--color-accent-light);
  position: absolute;
  right: 20px;
  top: 27px;
  cursor: pointer;

  &:hover {
    color: var(--color-accent);
  }
}

.errorMessage {
  color: red;
}
