.component {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000000b0;
  z-index: 10000;
  display: none;
  justify-content: center;
  align-items: center;
}

.isActive {
  display: flex;
}

.content {
  min-width: 300px;
  min-height: 200px;
  background: var(--color-background-second);
  border-radius: 16px;
  padding: 24px;
}
